<app-header></app-header>

<app-menu> </app-menu>

<main>

    <div class="perfil-candidato">
        <h3> Seu perfil já está registrado em nosso banco de talentos. Sinta-se à vontade para atualizar suas informações, realçar suas habilidades e compartilhar novas experiências sempre que desejar. </h3>
    </div>
        <div class="identificacao-box">
            <div>
                <h3 class="identificacao-pessoal"> Identificação Pessoal e senha </h3>
            </div>
            <div class="nome-candidato-box">
                <p class="nome-candidato" *ngFor="let nomecandidato of nome">{{ nomecandidato.nome }}</p>
            </div>
            <div class="email-candidato-box">
                <p class="email-candidato" *ngFor="let emailcandidato of email">{{ emailcandidato.email }}</p>
            </div>
            <div class="matricula-candidato-box">
                <p class="matricula-candidato" *ngFor="let matriculacandidato of matricula">{{ matriculacandidato.matricula }}</p>
            </div>
            <div class="password-candidato-box">
                <p class="password-candidato" *ngFor="let passwordcandidato of senha">{{ passwordcandidato.senha }}</p>
            </div>
            <div class="datanascimento-candidato-box">
                <p class="datanascimento-candidato" *ngFor="let datanascimentocandidato of dataNascimento">{{ datanascimentocandidato.dataNascimento }}</p>
            </div>
        </div>

        <div class="habilidadetecnica-box">
            <div>
                <h3 class="habilidade-tipo"> Habilidade Técnica </h3>
            </div>
            <div class="nome-habilidade-box">
                <p class="nome-habilidade" *ngFor="let habilidade of habilidadesTecnicas">{{ habilidade.nome }}</p>
            </div>
        </div>
        
        <div class="habilidadecomportamental-box">
            <div >
                <h3 class="habilidade-tipo"> Habilidade comportamental </h3>
            </div>
            <div class="nome-habilidade-box">
                <p class="nome-habilidade" *ngFor="let habilidade of habilidadesComportamentais">{{ habilidade.nome }}</p>
            </div>
        </div>
        
        <!-- <div class="outrasinformacoes-box">
            <div>
                <h3 class="outrasinformacoes"> Outras Informações </h3>
            </div>
            <div class="outrasinformacoes-box">
                <p class="outras-informacoes" *ngFor="let outras-informacoes of outras-informacoes">{{ habilidade.nome }}</p>
            </div>
        </div> -->

    <div class="button-container">
        <div class="button-box">
            <a class="voltar" routerLink="/pages/perfil">Voltar</a>
        </div>
        <div class="button-box">
            <a class="editar" routerLink="/pages/perfil-candidato">Editar </a>
        </div>
    </div>

</main>

<app-footer></app-footer>