<div class="container">
  <mat-stepper #stepper class="stepper">
    <mat-step>
      <ng-template matStepLabel>Inicio</ng-template>
      <p>Você já fez o cadastro simplificado.</p>
      <p>Faltam poucas informações para finalizar o seu Perfil! </p>
      <div class="btn">
        <button class="button" button matStepperNext>Iniciar</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Informação Requerida.">
      <div class="text">
        <p>Faça o cadastro das suas habilidades técnicas e comportamentais.</p>
      </div>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Habilidades</ng-template>
            <div class="row">
                <mat-form-field>
                    <mat-label>Habilidades Técnicas</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Insira as Habilidades">
                      <ng-container *ngFor="let skill of skills; let i = index">
                        <mat-chip-row (removed)="remove(skill)" [editable]="true" (edited)="edit(skill, $event)"
                          [aria-description]="'press enter to edit ' + skill.nome">
                          {{skill.nome}}
                          <button2 matChipRemove [attr.aria-label]="'remove ' + skill.nome">
                            <mat-icon>cancel</mat-icon>
                          </button2>
                        </mat-chip-row>
                      </ng-container>
                      <input placeholder="Nova Habilidade..." [matChipInputFor]="chipGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-grid>
                  </mat-form-field>
            </div>
            <div>
              <p class="texto">Faça o cadastro das suas habilidades comportamentais, ou seja, competências pessoais.</p>
            </div>
            <ng-template matStepLabel>Habilidades Comportamentais</ng-template>
            <div class="row">
                <mat-form-field class="select-comportamentais">
                    <mat-label>Selecionar Habilidades Comportamentais</mat-label>
                    <mat-select placeholder="Selecione as habilidades comportamentais"
                        formControlName="habilidadesSelect"
                        multiple>
                        <mat-option *ngFor="let habilidade of habilidadesComportamentais" [value]="habilidade">{{ habilidade.nome }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        <div class="btn">
          <button button matStepperNext>Avançar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Informação Opcional.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Informações do currículo</ng-template>
        <div class="row">
          <div class="label-box">
            <mat-label class="font">Currículo Lattes</mat-label>
          </div>
          <mat-form-field class="descricao-box">
            <textarea matInput formControlName="lattesControl" placeholder="Digite seu texto" rows="1" required></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="label-box">
            <mat-label class="font">Linkedin</mat-label>
          </div>
          <mat-form-field class="descricao-box">
            <textarea matInput formControlName="linkedinControl" placeholder="Digite seu texto" rows="1" required></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="label-box">
            <mat-label class="font">Currículo externo</mat-label>
          </div>
          <mat-form-field class="descricao-box">
            <textarea matInput formControlName="externoControl" placeholder="Digite seu texto" rows="1" required></textarea>
          </mat-form-field>
        </div>
        <p>Para adicionar mais informações como experiência profissional e formação acadêmica, adicione no campo acima o endereço web em que seu currículo está armazenado. Exemplos de servidores de hospedagem: Google Drive, DropBox, OneDrive e etc.
        </p>
        <div class="btn">
          <button button matStepperPrevious>Voltar</button>
          <button button matStepperNext>Avançar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" errorMessage="Informação Requerida.">
        <div class="text">
        <p>Preencha mais algumas informações que serão utilizadas para ações afirmativas.</p>
      </div>
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Ações Afirmativas</ng-template>
        <div class="row">
          <mat-form-field>
            <mat-label>Gênero</mat-label>
            <select matNativeControl name="selectControlGenero" formControlName="selectControlGenero">
              <option [value]="generoDescricao.MASCULINO" selected>Homem</option>
              <option [value]="generoDescricao.FEMININO">Mulher</option>
              <option [value]="generoDescricao.OUTROS">Outro</option>
            </select>
          </mat-form-field>
          <div class="row">
            <mat-form-field class="custom-field">
              <mat-label>Etnia</mat-label>
              <select matNativeControl name="selectControlEtnia" formControlName="selectControlEtnia">
                <option [value]="racaDescricao.PRETO">Negro</option>
                <option [value]="racaDescricao.PARDO">Pardo</option>
                <option [value]="racaDescricao.INDIGENA">Indígena</option>
                <option [value]="racaDescricao.AMARELO">Amarelo</option>
                <option [value]="racaDescricao.BRANCO">Branco</option>
              </select>
            </mat-form-field>
          </div>
        </div>
        <div class="radio">
          <mat-label>Possui deficiência</mat-label>
          <div>
            <mat-radio-group formControlName="radioControlDeficiencia" (change)="onChangePossuiDeficiencia($event)">
              <mat-radio-button [value]="true">Sim</mat-radio-button>
              <mat-radio-button [value]="false">Não</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="possuiDeficiencia">
          <div class="row">
            <mat-form-field class="custom-field">
              <mat-label>Descrição da deficiência</mat-label>
              <select matNativeControl name="selectControlDeficiencia" formControlName="selectControlDeficiencia">
                <option [value]="racaDescricao.PRETO">Deficiência Intelectual e Cognitiva</option>
                <option [value]="racaDescricao.PARDO">Deficiência Motora</option>
                <option [value]="racaDescricao.INDIGENA">Deficiência Sensorial</option>
                <option [value]="racaDescricao.AMARELO">Deficiências Múltiplas</option>
              </select>
            </mat-form-field>
          </div>

        </div>
      </form>
      <div class="btn">
        <button button matStepperPrevious>Voltar</button>
        <button button matStepperNext>Avançar</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fim</ng-template>
      <p>Você foi incluído(a) em nosso banco de talentos e será considerada para qualquer vaga que seja compatível com suas habilidades técnicas.</p>
      <p>Além disso, você receberá notificações sempre que avançar em um processo seletivo.</p>
      <div class="btn">
        <button button (click)="finalizar()">Finalizar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>