<div class="container">
<mat-stepper #stepper  class="stepper">
  <mat-step>
    <ng-template matStepLabel>Inicio</ng-template>
    <p>Você já fez o cadastro simplificado.</p>
    <p>Faltam poucas informações para finalizar o seu Perfil! </p>
    <div class="btn">
      <button class="button" button matStepperNext>Iniciar</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Informação Requerida.">
    <form [formGroup]="firstFormGroup">
      <div class="text">
        <p>Faça o cadastro das suas habilidades técnicas e comportamentais.</p>
      </div>
      <ng-template matStepLabel>Habilidades</ng-template>
      <div class="row">
      <app-chips-technical-skill></app-chips-technical-skill>
      </div>
      <div class="btn">
        <button button matStepperNext>Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Informação Requerida.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Informações do currículo</ng-template>
      <div class="row">
        <app-chips-behavorial-skill></app-chips-behavorial-skill>
      </div>
    </form>
    <div class="btn">
      <button button matStepperPrevious>Voltar</button>
      <button button matStepperNext>Avançar</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Informação Requerida.">
    <div>
      <p>Preencha mais algumas informações que serão utilizadas para ações afirmativas.</p>
    </div>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Ações Afirmativas</ng-template>
      <div class="row">
            <mat-form-field>
              <mat-label>Gênero</mat-label>
              <select matNativeControl name="selectControlGenero" formControlName="selectControlGenero">
                <option [value]="generoDescricao.MASCULINO" selected>Homem</option>
                <option [value]="generoDescricao.FEMININO">Mulher</option>
                <option [value]="generoDescricao.OUTROS">Outro</option>
            </select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Etnia</mat-label>
              <select matNativeControl name="selectControlEtnia" formControlName="selectControlEtnia">
                <option [value]="racaDescricao.PRETO">Negro</option>
                <option [value]="racaDescricao.PARDO">Pardo</option>
                <option [value]="racaDescricao.INDIGENA">Indígena</option>
                <option [value]="racaDescricao.AMARELO">Amarelo</option>
                <option [value]="racaDescricao.BRANCO">Branco</option>
              </select>
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Possui deficiência</mat-label>
            <select matNativeControl name="selectControlDeficiencia" formControlName="selectControlDeficiencia">
              <option value="pensamento" selected>Sim</option>
              <option value="produtividade">Não</option>
          </select>
          </mat-form-field>
          <div class="row">
            <div class="label-box">
                    <mat-label class="font">Descrição da deficiência</mat-label>
            </div>
                <mat-form-field class="descricao-box">
                    <textarea matInput formControlName="textControl" placeholder="Digite seu texto" rows="3" required></textarea>
                </mat-form-field>
          </div>
    </form>
    <div class="btn">
      <button button matStepperPrevious>Voltar</button>
      <button button matStepperNext>Avançar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fim</ng-template>
    <p>Você foi incluído(a) em nosso banco de talentos e será considerada para qualquer vaga que seja compatível com suas habilidades técnicas.</p>
    <p>Além disso, você receberá notificações sempre que avançar em um processo seletivo.</p>
    <div class="btn">
      <button button (click)="finalizar()">Finalizar</button>
    </div>
  </mat-step>
</mat-stepper>
</div>
