/* Centraliza o texto */
p {
  text-align: center;
  padding: 0.5rem;
}

/* Ajusta o passo do material design */
mat-step {
  margin: 0.5rem;
  background-color: #fff;
  padding: 0.5rem; /* Adiciona um pequeno preenchimento interno */
}

/* Ajusta o campo de formulário do material design */
mat-form-field {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.5rem; /* Reduz a margem inferior */
}

/* Centraliza o botão */
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* Ajusta o campo de formulário do material design */
.mat-mdc-form-field {
  margin-top: 16px;
}

/* Estiliza o botão */
button {
  margin: 1.25rem;
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  background-color: #002F6C;
  color: #fff;
  transition: all 0.5s ease;
  font-size: 0.9rem; /* Reduz o tamanho da fonte */
}

button:hover {
  background-color: rgba(0,122,51,1);
  color: #fff;
}

/* Centraliza todos os elementos na tela */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
}

/* Ajusta a largura do contêiner principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  height: 100%; /* Garante que o contêiner ocupe toda a altura do body */
}

.row {
  display: flex;
  flex-direction: column; /* Coloca os elementos em coluna */
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem; /* Reduz a margem inferior */
}

.row mat-form-field {
  width: 100%; /* Faz com que todos os campos de formulário tenham a mesma largura */
  margin-bottom: 0.5rem; /* Reduz a margem inferior */
}

.label-box {
  flex: 1;
}

.descricao-box {
  flex: 3;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 600px) {
  .container {
    padding: 0.5rem; /* Reduz o padding em dispositivos móveis */
  }
  
  .btn {
    flex-direction: column; /* Coloca os botões em coluna em dispositivos móveis */
  }

  button {
    width: 100%; /* Define a largura do botão como 100% em dispositivos móveis */
    margin: 0.5rem 0; /* Adiciona margem superior e inferior aos botões em dispositivos móveis */
  }
}
