main{
    width: 80%;
    margin: 3rem auto;
}

.lista-candidatos {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.lista-candidatos-container{
    border: 1px solid #2a4670;
    width: 60%;
    min-height: 400px;
    padding: .8rem;
    border-radius: .4rem;
    margin: 1rem auto;
} 
tr {
    display: flex;
    align-items: center;
}

.form-check-input {
   padding:0;
}

.titulo-candidato, .titulo-info {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 15px;
    padding: 10px;
}
.titulo-info {
    text-align: center;
    margin-left: 80px;
  }

.msg-naoexiste {
    padding: 10px;
    margin: 2rem;
    font-size: 1.1rem;
    color:red;
    font-style: italic;
}

td {
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 10px;
}
.btn-info {
    background-color: #002F6C;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0;
    margin: 0 auto; /* Centraliza o botão na célula */
    margin-left: 80px;
  }
  .table {
    width: 100%;
    text-align: center;
  }
  

.button-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button-box{
    margin-bottom: 2rem;
}

.voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    margin: 1rem;
    padding: 1.3rem 1rem;
    background-color: #a2a4a5;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
}

.next-step{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 1px;
    margin: 1rem;
    padding: 1.3rem 1rem;
    background-color:  #002F6C;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
}
