main{
    width: 80%;
    margin: 3rem auto;
}

.lista-candidatos {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.filter-selection {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; /* Alinha os containers no topo */
    gap: 1rem; /* Espaço entre os containers */
    padding: 1rem; /* Espaçamento interno da wrapper */
    box-sizing: border-box;
}
.lista-candidatos-container,
.informacoes-container {
    border: 1px solid #2a4670;
    width: 48%; /* Ajusta a largura para caber lado a lado, considerando o gap */
    min-height: 400px;
    padding: .8rem;
    border-radius: .4rem;
    box-sizing: border-box;
}
tr {
    display: flex;
    align-items: center;
}

.form-check-input {
   padding: 0px;
   margin-right: 10px;
}

.titulo-candidato, .titulo-info {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 15px;
    padding: 10px;
}

.msg-naoexiste {
    padding: 10px;
    margin: 2rem;
    font-size: 1.1rem;
    color:red;
    font-style: italic;
}

td {
    font-weight: bold;
    font-size: 1.1rem;
}
.info-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }
  
  .table {
    width: 100%;
    text-align: center;
  }
  

.button-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button-box{
    margin-bottom: 2rem;
}

.voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    margin: 1rem;
    padding: 1.3rem 1rem;
    background-color: #a2a4a5;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
}

.next-step{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 1px;
    margin: 1rem;
    padding: 1.3rem 1rem;
    background-color:  #002F6C;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
}
