<app-header></app-header>

<app-menu></app-menu>

<main>
    <div class="lista-candidatos">
        <h3>
            Utilize os filtros para triar os candidatos de acordo com sua preferência. 
            Depois, consulte o ranking e escolha os candidatos desejados para a próxima etapa. <br>
            Por fim, cadastre as informações cruciais para próxima etapa, como instruções ou link para reunião.

        </h3>
    </div>
    <div class="filter-selection">
        <mat-form-field>
            <mat-label>Selecione</mat-label>
            <mat-select
                [formControl]="toppings"
                multiple
                (selectionChange)="aplicarFiltros()"
            >
                <mat-option
                    *ngFor="let topping of toppingList"
                    [value]="topping"
                    >{{topping}}</mat-option
                >
            </mat-select>
        </mat-form-field>
    </div>
    <div class="main-wrapper">
        <div class="lista-candidatos-container">
        <!-- <div class="paginator">
            <mat-paginator
                [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
            >
            </mat-paginator>
        </div> -->
        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="titulo-candidato">Ranking</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="existeUsuarios">
                        <tr *ngFor="let usuario of mostrarUsuarios">
                            <th scope="row">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    [value]="usuario.id"
                                    [checked]="filtroTodosSelecionado"
                                    (change)="onChangeCandidato($event)"
                                />
                            </th>
                                <td>
                                    <span>{{usuario.nome}}</span>
                                </td>
                                <td class="info-column">
                                    <app-modal></app-modal>
                                </td>
                            </tr>
                        </div>
                    <div *ngIf="!existeUsuarios" class="msg-naoexiste">
                        <p>
                            "Não existe usuário triado com essas habilidades
                            nesse momento."
                        </p>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
    <div class="informacoes-container">
        <h2>Informações para a Próxima Etapa</h2>
        <p>Detalhes e instruções sobre a próxima etapa.</p>
        <!-- Mais informações -->
        </div>
    </div>
    <div class="button-container">
        <div class="button-box">
            <a class="voltar" routerLink="/pages/perfil">Voltar para oportunidade</a>
        </div>
        <div class="button-box">
            <a class="next-step" routerLink="">Enviar convites </a>
        </div>
    </div>
</main>
<app-footer></app-footer>
