body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    width: 100%;
    height: calc(100% - 350px); /* Ajuste para incluir header e footer */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}


.icon-button {
    background: linear-gradient(45deg, rgba(0, 122, 51, 1) 0%, rgba(0, 47, 108, 1) 100%);
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.icon-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.icon-button {
    margin: 5px 0; /* Ajusta a margem superior e inferior */
}

.icon-button mat-icon {
    font-size: 30px; /* Ajusta o tamanho do ícone */
    color: #fff; /* Ajusta a cor do ícone */
    margin-bottom: 10px; /* Espaço abaixo do ícone */
}

.icon-button span {
    display: block;
    font-size: 26px;
    color: #fff; /* Cor branca para o texto */
    font-weight: bold;
}