<app-header></app-header>
<app-menu></app-menu>
<html lang="pt-BR">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <button class="icon-button" id="tutoriais">
                <mat-icon>search</mat-icon>
                <span>Tutoriais</span>
            </button>
            <button class="icon-button" id="notifications">
                <mat-icon>notifications</mat-icon>
                <span>Notificações</span>
            </button>
            <button class="icon-button" id="legislacao">
                <mat-icon>gavel</mat-icon>
                <span>Legislação</span>
            </button>
        </div>
    </body>
</html>
<app-footer></app-footer>