<app-header></app-header>
<app-menu></app-menu>
<html lang="pt-BR">
<body>
    <div class="container">
        <button class="icon-button" id="tutoriais">
            <mat-icon matSuffix>Search</mat-icon>
            <span>Tutoriais</span>
        </button>
        <button class="icon-button" id="notificacoes">
            <mat-icon matSuffix>Person Search</mat-icon>
            <span>Notificações</span>
        </button>
        <button class="icon-button" id="legislacao">
            <mat-icon matSuffix>Gavel</mat-icon>
            <span>Legislação</span>
        </button>
    </div>
</body>
</html>
<app-footer></app-footer>