
<mat-toolbar>
    <div class= "container">
        <a routerLink="/pages/home" routerLinkActive="active">
            <span>Home</span>
          </a>
          <a routerLink="/pages/perfil" routerLinkActive="active">
            <span>Perfil</span>
          </a>
          <a routerLink="/pages/oportunidades" routerLinkActive="active" [class.active]="isOportunidadesActive()">
            <span>Oportunidades</span>
          </a>
          <a href="" routerLinkActive="active">
            <span>Configurações</span>
          </a>
          <button (click)="badgevisibility()" mat-icon-button>
            <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
          </button>
        <div>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
        </div>
    </div>
</mat-toolbar>
  
