<body class="container">
    <img src="assets/logo.svg" alt="Logo" class="logo">
    <h1 class="text">Plataforma de Gestão de Oportunidades e Talentos da 5ª Região</h1>
    <div class="form-center">
      <form action="/vinculo" method="post">
        <h3 class="text">Selecione o vínculo desejado.</h3>
        <h4 class="text">Vínculo</h4>
      </form>
      <button type="submit" class="button">Candidato</button>
      <button type="submit" class="button">Recrutador</button>
    </div>
  </body>
  
  